@model OnlineKursKayit.ViewModels.CategoryVM

@{
    ViewData["Title"] = "Kategori Ekle";
}

<h2>Kategori Ekle</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a class="btn btn-secondary" asp-action="Index">İptal</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
